<launch>

    
    <node name="Turtlesim" pkg="turtlesim" type="turtlesim_node" output="screen">
    </node>

    <node name="Remote" pkg="Quiz_6452500350" type="remote.py" output="screen">
    </node>
    
    <node name="Motion" pkg="Quiz_6452500350" type="motion.py" output="screen">
    </node>

</launch>
